<!--Abdulghafor Nurali
   Student Number: 300655894
   Date:2019-03-31-->

<div class="container">
        <div class="jumbotron">
          <img src="\assets\images\myImage.jpeg" width="220" height="620" class="center" />
          <br>
          <p class="lead">
                My name is Abdulghafor Nurali, I have a major in Automotive Technology and now 
                I’m a student majoring in Software Engineering and I will be graduating in September 
                of 2019. I have an interest in designing and implementing websites. I have completed 
                several Software engineering projects throughout my courses, where I obtained knowledge 
                and I am now proficient in the use of the following Technical skills:
              </p>
    
    
        <li>Object oriented software design methodologies</li>
        <li>Android Mobile Application Development</li>
        <li>ASP.NET Core </li>
        <li>Java and Java EE</li>
        <li>Emerging web Frameworks</li>
        <li>Cloud Computing-AWS-S3, Lambda, IAM, Elastic Beanstalk, EC2, RDS, DynamoDB, </li>
        <li>Data Mining-SSAS, SSIS, SSRS, ETL</li>
        <li>HTML5</li>
        <li>MongoDB, ExpressJS, AngularJS, Node.js</li>
        <li>C#</li>
        <br>
        <p>To view my resume, please click on the link below</p> 
        <!--link for my resume-->

    <a class="button" href="assets/documents/Abdulghafor_Nurali_Resume.pdf">View My Resume</a><br><br>
      </div>
    </div>