<!--Abdulghafor Nurali
   Student Number: 300655894
   Date:2019-03-31-->

   <div class="container">
    <div class="jumbotron">
      <h4> Hello World!</h4>
  
      <p class="lead">
        Yesterday I was clever, so I wanted to change the world. Today I am wise, so I am changing myself! 
        <br>"Rumi"
      </p>
      <br>
            <img src="/assets/images/seedling-growth.jpg" class="plant" width="420" height="300" />
      <br>
      <br>
      <p class="lead">
          If your interested in knowing me more, please click on the button bellow!
          <br>
          <br>
        <a class="btn btn-primary btn-lg" href="about" role="button"
          >About me page</a>
      </p>
    </div>
  </div>