<!--Abdulghafor Nurali
   Student Number: 300655894
   Date:2019-03-31-->
   <div class="contactMe">

      <fieldset>
      <legend>Contact Details:</legend>
       <p>3105 Wilson Avenue, Suite: 401
            <br>Toronto , ON M9N 1K7
            <br>Business Number: 416-325-0012
            <br>
            Cell Phone: 416-897-6456
            <br>
          Email: 
            <a href="mailto:name@example.com">ghafor_n@live.com
            </a>
            <br>
            Hours of operation: Monday-Friday: 10:00 AM to 6:00 PM
          </p>
    </fieldset>

<div *ngIf="isLoggedIn()" class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header alert-success">Secure</h5>
        <div class="card-body">
          <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact List</a>
        </div>
      </div>
    </div>
  </div>
</div>
