<!--Abdulghafor Nurali
   Student Number: 300655894
   Date:2019-03-31-->

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to my Projects page</h1>
        <p class="myProjects">
            These are some of the college projects that I made. A Movie website, which I have hosted it on AWS 
            and an online bookstore for purchasing and selling books for Centennial college student, aslo hosted 
            it on AWS.<br><br>

            <img src="/assets/images/movie.png" width="500" height="300" /> &nbsp;<img src="/assets/images/movie1.png"
                  width="500" height="300" />
              <br>
              <br>

              <img src="/assets/images/sebo.png " width="500" height="300" /> &nbsp;<img src="/assets/images/sebo1.png"
                  width="500" height="300" /> 
            <br>

            <br>
            <br>
        </p>
        <p>
        </p>
    </div>
</div>