<!--Abdulghafor Nurali
   Student Number: 300655894
   Date:2019-03-31-->

<div class="container">
        <div class="container">
                <div class="jumbotron">
                    <h4>These are the services which I provide for your convenience.</h4>
                    <br>
                    <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                      <div class="view overlay z-depth-1-half">
                              <a routerLink="/services">
                          <img src="\assets\images\mean.png" width="500" height="300" class="img-fluid"
                              alt="">
                              <div class="mask rgba-white-light"></div>
                          </a>
                          <p class="lead">Mean Stack</p>
                      </div>
                  </div>
            
                  <div class="col-lg-4 col-md-6 mb-4">
                      <div class="view overlay z-depth-1-half">
                              <a routerLink="/services">
                                      <img src="\assets\images\testing.jpg" width="500" height="300" class="img-fluid"
                              alt="">
                              <div class="mask rgba-white-light"></div>
                          </a>
                          <p class="lead">Software Testing</p>
            
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                      <div class="view overlay z-depth-1-half">
                              <a routerLink="/services">
            
                          <img src="\assets\images\android.jpg"  width="500" height="300" class="img-fluid"
                              alt="">
                              <div class="mask rgba-white-light"></div>
                          </a>
                          <p class="lead">Android application Development</p>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-4">
                      <div class="view overlay z-depth-1-half">
                              <a routerLink="/services">
                              <img src="\assets\images\aws.png" width="500" height="300" class="img-fluid"
                              alt="">
                              <div class="mask rgba-white-light"></div>
                          </a>
                          <p class="lead">AWS</p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                      <div class="view overlay z-depth-1-half">
                              <a routerLink="/services">
                          <img src="\assets\images\web.jpg" width="500" height="300" class="img-fluid"
                              alt="">
                              <div class="mask rgba-white-light"></div>
                          </a>
                          <p class="lead">Web Application Development</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-4">
                      <div class="view overlay z-depth-1-half bg-white">
                              <a routerLink="/services">
                          <img src="/assets\images\data.jpg" width="500" height="300" class="img-fluid"
                              alt="">
                              <div class="mask rgba-white-light"></div>
                          </a>
                      </div>
                      <p class="lead">Data using: Microsoft SQL Server, MongoDB, MySQL, Oracle SQL, PL/SQL</p>
                  </div>
                </div>
            </div>